name: Android CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup Android SDK
      uses: android-actions/setup-android@v3

    - name: Build with Gradle
      run: cd obv_messenger && ./gradlew assembleDebug --stacktrace

    - name: Upload APK
      if: success()
      uses: actions/upload-artifact@v4
      with:
        name: apk
        path: obv_messenger/app/build/outputs/apk/debug/
